.block {
    background-color: white;
}

.block:nth-child(even) {
    background-color: rgb(232, 241, 232);
}

.titleColor {
    height: 150px;
}
.title {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    color: green;
    padding: 30px;

}
.title:hover {
    text-decoration: underline;
}

.item {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;

}
.indexNumber {
    text-align: center;
    vertical-align: middle;
    font-size: 1.7em;
}

.actionContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.editBtn {
    cursor: pointer;
    user-select: none;
    font-size: 2em;
    -moz-user-select: none;
    width: 40%;
}
.editBtn:hover {
    color: green;
}
.deleteBtn {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    font-size: 2em;
    width: 40%;
}
.deleteBtn:hover {
    color: green;
}