.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;   
    
}

.searchContainer {
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    margin-left: 3.5em;
    
    
}

.statusItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 1.8em;
    cursor: pointer;
}
.statusItem:hover {
    background-color: lightgray;
}
.activeSelection {
    font-weight:600;
    box-shadow: inset 0 -5px green;
}
.input {
    width: 130px;
}
.searchIcon {
    cursor: pointer;
}
.searchInActive {
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}
.searchInActive:right {
    transform: scaleX(0);
}
.searchActive {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.searchActive:left {
    
    transform: scaleX(1); /* full width */
}
