.statusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 200x;
    
}
.statusItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}
.statusItem:hover {
    background-color: lightgray;
}
.activeSelection {
    font-weight:600;
    box-shadow: 0 6px green;
}