.headerTitleStatus {
    width: 0.6%;
}
.headerNumber {
    width: 2%;
    height: 30px;
    font-size: 1.5em;
    
}
.headerImage {
    font-size: 18px;
    width: 10%;
    height: 30px;
    
}
.headerName {
    font-size: 18px;
    width: 50%;
    height: 30px;
    text-align: left;
    padding-left: 30px;
    
    
}
.headerStatus {
    font-size: 18px;
    width: 15%;
    height: 30px;
}
.headerAction {
    font-size: 18px;
    width: 15%;
    height: 30px;
}
.shortRightBorder {
    position: relative;
    border-right: none;
}

.shortRightBorder::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    height: 20px;
    width: 1px;
    background-color: lightgrey;
}
