
.headerTitleStatus {
    box-shadow: 3px 0 green;
}
.headerNumber {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid lightgray;
}
.headerImage {
    font-size: 18px;
    width: 30px;
    height: 20px;
    border: 1px solid lightgray;
}
.headerName {
    font-size: 18px;
    width: 500px;
    height: 20px;
    border: 1px solid lightgray;
    text-align: left;
    padding-left: 30px;
    
}
.headerStatus {
    font-size: 18px;
    width: 100px;
    height: 20px;
    border: 1px solid lightgray;
}
.headerAction {
    font-size: 18px;
    width: 30px;
    height: 20px;
    border: 1px solid lightgray;
}