.headerContainer {
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 75%;
        background-color: green ;
}
.linkButton {
        padding: 10px 20px;
        text-align: center;
        font-size: 2em;
        font-weight: 0;
        display: inline-block;
        color: white;
        text-decoration: none;
}
.linkButton:hover {
        background-color: gray;
}