.container {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    width: 200px;
    cursor: pointer;
}
.container:hover {
    background-color: lightgray;
}
.textContainer {
    padding: 5px;
    font-size: 1.4em;
}
.resultImage {
    padding: 5px;
}

